body {
    background-color: black;
    color: white;
}
.pgPkmn {
    background-color: #2d2d2d;
    margin: 10px;
    
}
.pgPkmn > h1 {
    text-align: center;
}

.box {
    display: flex;
}

.img {
    margin: 0 auto 0 10px;
    position: relative;
    left:100px;
}

.status {
    position: relative;
    right: 10px;
}

.img > img {
    border: dotted;
    border-width: 3px;
    border-color: red;
}

.pkmnkind {
    padding: 0 4px;
    border-radius: 2px;
    margin: 0 1px
}
.kindfighting {
    background-color: #C03028;
}
.kindsteel {
    background-color: #B8B8D0;
}
.kindelectric {
    background-color: #F8D030;
}
.kindfire{
    background-color: #F08030;
}
.kindwater {
    background-color:#6890F0;
}
.kindgrass {
    background-color: #78C850;
}
.kindflying {
    background-color: #A890F0;
}
.kindpoison {
    background-color: #A040A0;
}
.kinddragon {
    background-color: #7038F8;
}
.kindnormal {
    background-color: #A8A878;
}
.kindrock {
    background-color: #B8A038;
}
.kindground {
    background-color: #E0C068;
}
.kindpsychic {
    background-color: #F85888;
}
.kindghost {
    background-color: #705898;
}
.kinddark {
    background-color: #705848;
}
.kindbug {
    background-color: #A8B820;
}
.kindfairy {
    background-color: #EE99AC;
}
.kindice {
    background-color: #98D8D8
}

.kindfightingL {
    background-color: rgb(110, 54, 51);
}
.kindsteelL {
    background-color: #B8B8D0;
}
.kindelectricL {
    background-color: rgb(175, 151, 56);
}
.kindfireL{
    background-color: rgb(233, 158, 105);
}
.kindwaterL {
    background-color:rgb(138, 150, 179);
}
.kindgrassL {
    background-color: rgb(166, 195, 152);
}
.kindflyingL {
    background-color: rgb(135, 129, 151);
}
.kindpoisonL {
    background-color: rgb(126, 92, 126);
}
.kinddragonL {
    background-color: rgb(184, 165, 230);
}
.kindnormalL {
    background-color: rgb(146, 146, 127);
}
.kindrockL {
    background-color: rgb(179, 166, 113);
}
.kindgroundL {
    background-color: rgb(107, 97, 71);
}
.kindpsychicL {
    background-color: rgb(151, 85, 105);
}
.kindghostL {
    background-color: #c8bed8;
}
.kinddarkL {
    background-color: #af9d92;
}
.kindbugL {
    background-color: rgb(116, 121, 67);
}
.kindfairyL {
    background-color: rgb(233, 184, 194);
}
.kindiceL {
    background-color: rgb(119, 167, 167)
}