root {
  height: 100vh;
  width: 100vw;
}

#root > :first-child {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.main__content {
  background-color: #555CE1;
  border: solid 13px gray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  flex: 1;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
  color: white;
}

.pgPkmn {
  background-color: #2d2d2d;
  margin: 10px auto;
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

.status > .pkmnkind {
  padding: 8px;
  border-radius: 5px;
  margin: 0 5px;
  color:white;
}
.inputBrowse {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBrowse > input {
  border-radius: 8px;
  height: 45%;
  width: 300px;
  border: 2px solid red;
  background-color: rgb(236, 224, 224);
}

.pgPkmn > h1 {
  text-align: center;
}

.box-starred {
  width: 100%;
  height: 25%;
  display: flex;
}

.box-starred .heart {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.box-starred .pkdxNumber {
  width: 50%;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.box-starred .pkdxNumber span {
  margin-right: 30px;
}

.box {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nolike {
  font-size: 40px;
  margin: 20px 0 0 40px;
  color: white
}

.nolike:hover {
  color: red;
}

.liked {
  font-size: 40px;
  margin: 20px 0 0 40px;
  color: red
}

.liked:hover {
  color: white;
}

.status {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

.status p {
  margin: 0;
  min-width: 80%;
  max-width: 100%;
}

.status p span {
  height: 100%;
  padding: 2px 6px;
  border-radius: 2px;
  margin: 0;
  color: black;
}

.linkpkmn {
  text-decoration: none;
  color: white;
}

.img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img > img {
  height: 90%;
  width: 79%;
  border: dotted;
  border-width: 3px;
  border-color: red;
}

.pkmnkind {
  padding: 0 4px;
  border-radius: 2px;
  margin: 0 1px;
  color: black;
}

.kindfighting {
  background-color: #C03028;
}

.kindsteel {
  background-color: #B8B8D0;
}

.kindelectric {
  background-color: #F8D030;
}

.kindfire {
  background-color: #F08030;
}

.kindwater {
  background-color: #6890F0;
}

.kindgrass {
  background-color: #78C850;
}

.kindflying {
  background-color: #A890F0;
}

.kindpoison {
  background-color: #A040A0;
}

.kinddragon {
  background-color: #7038F8;
}

.kindnormal {
  background-color: #A8A878;
}

.kindrock {
  background-color: #B8A038;
}

.kindground {
  background-color: #E0C068;
}

.kindpsychic {
  background-color: #F85888;
}

.kindghost {
  background-color: #705898;
}

.kinddark {
  background-color: #705848;
}

.kindbug {
  background-color: #A8B820;
}

.kindfairy {
  background-color: #EE99AC;
}

.kindice {
  background-color: #98D8D8;
}