root {
    height: 100vh;
    width: 100vw;
  }
  
.background  {
    background-image: url("../../assets/pallet_down.webp");
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 25vw;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 8px;
}

.input-form {
    width: 100%;
    height: 50%;
}

.input-form form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form form input {
    height: 30%;
    width: 85%;
}

.login {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login img {
    height: 90%;
    width: 50%;
    margin-top: 15px;
}