@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    max-height: 100%;
    box-sizing: content-box;
}

#root > :first-child {
    height: 100%;
    width: 100%;
}

.wrap {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
    background-color: #dc0a2b;
    border: solid 1px black;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
}

.profile__trainer {
    height: 300px;
    width: 300px;
    background-color: slateblue;
    margin: 20px auto;
    border: solid 4px black;
    border-radius: 8px;
    text-align: center;
}

.profile__trainer p{
    margin-bottom: 30px;
}

.profile__trainer img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

.aesthetic {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.aesthetic svg {
    height: 13px;
    width: 13px;
    border: solid 1px black;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px black;
}

.aesthetic .red {
    color: red;
}

.aesthetic .green {
    color: green;
}

.aesthetic .yellow {
    color: yellow;
}

.exit {
    margin-top: 20px;
    text-align: center;
}

.exit button {
    height: 40px;
    width: 80px;
    border: solid 4px black;
    border-radius: 4px;
    background-color: gray;
}

.exit a {
    font-family: 'Press Start 2P', cursive;
    color: black;
    text-decoration: none;
}

.starred {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-row-gap: 28px;
    max-height: 100%;
    max-width: 100%;
    background-color: #6a5acd;
    border: solid 10px gray;
    box-shadow: 0px 0px 10px 2px black;
}

.starred a {
    text-decoration: none;
    color: black;
}
