@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dc0a2b;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

.red, .green, .yellow {
    height: 13px;
    width: 13px;
    border: solid 1px black;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px black;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.blue {
    height: 60px;
    width: 60px;
    border: solid 2px white;
    border-radius: 50%;
    color: #3431a1;
    box-shadow: 1px 1px 2px 0px white;
}

.profile, .menu {
    height: inherit;
    width: 50%;
}

.profile{
    display: flex;
    margin-left: 40px;
    align-items: center;
}

.menu button {
    background: transparent;
    border: none;
}

.profile p {
    margin-left: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 80px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 4px;
}

.pkmnHome{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 2px black;
    width: 100%;
    margin-top: 4px;
}

.pkmnHome a  {
    text-decoration: none;
    color: black;
}

.pkmnCard {
    margin-left: 15px;
    background-color: #2d2d2d;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    transition: 400ms;
}

.pkmnCard svg {
    height: 22px;
    width: 22px;
    border: none;
    box-shadow:none;
    color: red;
}

.pkmnCard:active svg {
    height: 22px;
    width: 22px;
    border: none;
    box-shadow:none;
    color: red;
}

.pkmnCard:hover {
    padding: 3px;
    box-shadow: 0px 0px 10px 3px black;
    transition: 400ms;
}

.buttons {
    display: inline-flex;
    width: 100%;
    align-self: center;
    color: gray;
    background-color: gray;
    text-align: center;
    padding-bottom: 14px;
    justify-content: space-evenly;
}

.buttons  button {
    border: solid 1px black;
    border-radius: 4px;
    height: 27px;
}

.main__content {
    background-color: #555CE1;
    border: solid 13px gray;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
