@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.header {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    background-color: #dc0a2b;
    font-family: 'Press Start 2P', cursive;
    font-size: 13px;
}

.red, .green, .yellow {
    height: 13px;
    width: 13px;
    border: solid 1px black;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 1px black;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.blue {
    height: 60px;
    width: 60px;
    border: solid 2px white;
    border-radius: 50%;
    color: #3431a1;
    box-shadow: 1px 1px 2px 0px white;
}


.profile, .menu {
    height: inherit;
    width: 50%;
}

.profile{
    display: flex;
    align-items: center;
}

button {
    background: #dc0a2b;
    border: none;
}

.profile p {
    margin-left: 10px;
}


.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 70px;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 4px;
    margin-right: 10px;
}